#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}
.logo {
	background-color: black;
	border-radius: 10px;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 1em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.header {
	display: flex;
	justify-content: space-around;
	background: #06e388;
	color: white;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	top: 0;
}

.editButton {
	margin-left: 2em;
}

.addSelector {
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 0.5em;
	display: block;
	background-color: #1a1a1a;
}

/*Временные стили*/
.text {
	width: 200px;
	display: inline-block;
	padding: 10px;
	border-radius: 0.5em;
	color: #1a1a1a;
	background-color: white;
}

.photo {
	width: 100px;
	height: 100px;
}
/*---------------------- */
